<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="/perfil" routerLinkActive="active">Perfil</a>
  <a routerLink="/trabajos" routerLinkActive="active">Trabajos</a>
  <a [routerLink]="['/proyectos']" routerLinkActive="active">Proyectos</a>
  <a [routerLink]="['/formulario/basico']" routerLinkActive="active">Formulario basico</a>
  <a [routerLink]="['/formulario/dinamico']" routerLinkActive="active">Formulario dinamico</a>
  <a [routerLink]="['/formulario/mas']" routerLinkActive="active">Mas Formulario</a>
</nav>
